@font-face {
    font-family: 'needleteeth_spookyspooky';
    src: url(fonts/needleteeth.spooky-webfont.woff2) format('woff2'),
         url(fonts/needleteeth.spooky-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'needleteeth_creepycreepy';
    src: url(fonts/needleteeth.creepy-webfont.woff2) format('woff2'),
         url(fonts/needleteeth.creepy-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}

h1 {
    font-size: 72px;
    font-family: 'needleteeth_spookyspooky', Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 1rem;
    color: red;
}

#instructions {
    color: white;
    font-size: 18px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 500px;
    flex-wrap: wrap;
    background-color: black;
}

.options {
    width: 500px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px; 
    justify-content: center;
    background-color: rgb(255, 106, 0);
    margin: 5px;
}

.game-area {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "your result CPU"
    "player result computer" 
    "... button ...";
}

.player, .computer {
    width: 300px;
    height: 349px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'needleteeth_creepycreepy', Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    background-color: rgb(255, 106, 0);
}

.player {
    grid-area: player;
    display: flex;
    justify-content: center;
    align-items: center;
}

#your, #CPU {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(198, 57, 2);
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'needleteeth_creepycreepy', Arial, Helvetica, sans-serif;
    border: 1px solid rgb(175, 22, 22);
    border-radius: 5px;
}

#your {
    grid-area: your;
}

.computer {
    grid-area: computer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CPU {
    grid-area: CPU;
}


#result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 450px;
    padding: 15px;
    border: 1px solid  rgb(255, 132, 0);
    color: white;
    background-color: black;
    font-size: 20px;
}

#roundResult {
    font-family: 'needleteeth_spookyspooky', Arial, Helvetica, sans-serif;
    color: lime;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
}

#play-again {
    color: black;
    width: 200px;
    background-color:  rgb(255, 132, 0);
    font-size: 20px;
    border-radius: 5px;
}

#play-again:hover {
    color:  rgb(255, 132, 0);
    background-color: black;
    border: 1px solid  rgb(255, 132, 0);
    box-shadow: 0px 5px 15px  rgb(255, 132, 0);
}


.reset-area {
    grid-area: button;
    height: 70px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.reset {
    height: 35px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'needleteeth_creepycreepy', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reset:hover {
    color: black;
    box-shadow: 0px 5px 15px red;
}

.optionsPic {
    height: 100px;
}

.choicePic {
    height: 150px;
}

.choicePicCPU {
    height: 150px;
    animation: appearing 1s ease-in;
}

.choice {
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'needleteeth_creepycreepy', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choice:hover {
    color: red;
    box-shadow: 0px 5px 15px red;
}

#footer {
    color: rgba(255, 255, 255, 0.766);
    height: 50px;
    text-align: center;
}

a.credit, a.credit:visited {
    color:  rgb(255, 132, 0);
}

a.credit:hover {
    color: lime;
}

.divider-img {
    height: 90px;

}

#lose-animation {
    display: none;
    height: 100px;
    animation: appearing2 2s ease-in-out;
}

#win-animation {
    display: none;
    height: 150px;
    border-radius: 50%;
    animation: appearing2 2s ease-in-out;
}

@keyframes appearing {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes appearing2 {
    0% {opacity: 0;}
    50% {opacity: 1;};
    100% {opacity: 0;}
}