@font-face {
    font-family: 'needleteeth_spookyspooky';
    src: url(fonts/needleteeth.spooky-webfont.woff2) format('woff2'),
         url(fonts/needleteeth.spooky-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'needleteeth_creepycreepy';
    src: url(fonts/needleteeth.creepy-webfont.woff2) format('woff2'),
         url(fonts/needleteeth.creepy-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black
}

h1 {
    font-size: 72px;
    font-family: 'needleteeth_spookyspooky';
    text-align: center;
    letter-spacing: 1rem;
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 500px;
    border: 1px solid purple;
}

.player, .computer {
    width: 300px;
    height: 300px;
    border: 1px solid red;
}

.reset {
    border: 1px solid green;
    width: 100px;
    height: 50px;
}